<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="LoadViewDynamicly.Properties.Settings.MDH2ConnectionString"
            connectionString="Data Source=sscsdsql01;Initial Catalog=MDH2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="ENV" value="UAT" />
    <add key="ClassDropDownItems" value="50" />
    <add key="StudentDropDownItems" value="5000" />
  </appSettings>
  
</configuration>